<!DOCTYPE html>
<html>
<head>
    <title>QR Code Display</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <div class="navbar bg-gray-800 text-white p-6">
        <a href="{% url 'home' %}" class="text-lg font-bold">Home</a>
    </div>

    <div class="content max-w-lg mx-auto p-8">
        <div class="image-container mb-8">
            <img src="data:image/png;base64,{{ qr_base64 }}" alt="QR Code" class="w-100 h-100 mx-auto mt-6">
        </div>
        <div class="home-link text-center">
            <a href="{% url 'home' %}" class="text-blue-500 hover:underline">Home</a>
        </div>
    </div>

</body>
</html>
