<!DOCTYPE html>
<html>
<head>
    <title>Chats</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="navbar">
        <a href="{% url 'logout-user' %}">Logout</a>
    </div>

    <div class="content">
        <h1 class="centered-title">Chats</h1>
        <form id="post-form" class="chat-form">
            {% csrf_token %}
            <input type="text" name="room_name" id="room_name" class="form-input" placeholder="Enter Room Name">
            <input type="text" name="username" id="username" class="form-input" placeholder="Enter Username">
            <button type="submit" class="form-button">Create Room</button>
        </form>

        {% for room in rooms %}
            <div class="room-container">
                <a class="room-link" href="{% url 'room_view' room.id %}">{{ room }}</a>
                <a class="remove-link" href="{% url 'remove_room' room.id %}">Remove Room</a>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $(document).on('submit', '#post-form', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/create_room',
                data: {
                    room_name: $('#room_name').val(),
                    username: $('#username').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function(data) {
                }
            });
            $('#room_name').val('');
            location.reload();
        });
    </script>

</body>
</html>