<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

    <div class="navbar bg-gray-800 text-white p-6">
        <a href="{% url 'home' %}" class="text-lg font-bold">Home</a>
    </div>

    <div class="min-h-screen flex justify-center items-center">
        <form method="post" class="bg-white p-8 rounded-lg shadow-md max-w-md">
            {% csrf_token %}
            <div class="form-group mb-6 text-lg">
                {{ user_form.as_p }}
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-3 px-6 rounded-lg">Register</button>
        </form>
    </div>

</body>
</html>
