<!DOCTYPE html>
<html>
<head>
    <title>Chat Room - {{ room }}</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <a href="{% url 'home' %}" class="block text-blue-500 mt-4 ml-4">Back to Rooms</a>
    <div class="flex justify-center items-center h-screen">
        <div class="max-w-md w-full bg-white shadow-md rounded-lg overflow-hidden mr-4">
            <div class="flex justify-between bg-gray-200 py-3 px-4">
                <h2 class="text-xl">Users</h2>
                <h3 class="text-xl">Add User</h3>
            </div>
            <div class="p-4 h-96 overflow-y-auto">
                {% for user in usernames %}
                    <div class="py-1">{{ user }}</div>
                {% endfor %}
                <form action="" method="POST" class="mt-4">
                    {% csrf_token %}
                    <input type="text" id="username" name="username" class="form-input rounded-lg py-2 px-3 border w-full" placeholder="Enter username" required>
                    <button type="submit" class="form-button bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg mt-2 w-full">Submit</button>
                </form>
            </div>
        </div>
        <div class="max-w-lg w-full bg-white shadow-lg rounded-lg overflow-hidden">
            <div class="bg-gray-200 py-3 px-4">
                <h1 class="text-2xl">{{ room }}</h1>
            </div>
            <div class="p-4 h-96 overflow-y-auto" id="chat-messages">
                {% for m in messages %}
                {{ m.user }}</b>: {{ m.content }}<br>
                {% endfor %}
            </div>
            <form id="chat-form" class="p-4">
                {% csrf_token %}
                <input type="hidden" name="username" id="username" value="{{ username }}">
                <input type="hidden" name="room_id" id="room_id" value="{{ room_details.id }}">
                <input type="text" name="message" id="chat-message-input" class="form-input rounded-lg py-2 px-3 border w-full" placeholder="Type your message here...">
                <button type="submit" id="chat-message-submit" class="form-button bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg mt-2">Send</button>
            </form>
        </div>
    </div>
    {{ room_details.id|json_script:"json-roomid" }}
    {{ request.user.username|json_script:"json-username" }}
    <script>
        const roomId = JSON.parse(document.getElementById('json-roomid').textContent);
        const userName = JSON.parse(document.getElementById('json-username').textContent);
        console.log(roomId)
        const chatSocket = new WebSocket(
            'ws://' + window.location.host + '/ws/room/' + roomId + '/'
        );

        chatSocket.onmessage = function(e) {
            console.log('onmessage')

            const data = JSON.parse(e.data);

            if (data.message) {
                let html = '<p>' + data.username + ": " + data.message + '</p>';

                document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
            }
            else {
                alert('Message from server was empty')
            }
        }

        chatSocket.onclose = function(e) {
            console.log('onclose')
        }

        document.querySelector('#chat-message-submit').onclick = function(e) {
            e.preventDefault();

            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            chatSocket.send(JSON.stringify({
                'message': message,
                'username': userName,
                'room_id': roomId
            }));

            messageInputDom.value = '';

            return false;
        }
    </script>
</body>
</html>
